name: .NET Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Git repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 42
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build samples
      run: dotnet build samples\Svg.Skia.Forms.Sample\Svg.Skia.Forms.Sample.csproj -c Release --no-restore
    - name: Build library
      run: dotnet build src\Svg.Skia.Forms\Svg.Skia.Forms.csproj -c Release --no-restore
    - name: Build NuGet package
      run: dotnet pack src\Svg.Skia.Forms\Svg.Skia.Forms.csproj -c Release --no-build --output .
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: NuGet package
        path: ./**/*.nupkg
        if-no-files-found: error
